
.wrap {
	max-width: 1170px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
h1 {
	font-size: 50px;
	text-transform: uppercase;
}
h2 {
	font-size: 30px;
}
.blog-content {
	width: 100%;
	padding:  0 15px;
}